# Files
# -----------------

.npmrc
.eslintrc
.editorconfig
.gitignore

# Travis
# -----------------

.travis.yml

# Configuration
# -----------------

karma.conf.cjs
babel.config.cjs
rollup.config.cjs

# Directories
# -----------------

/tests
